[[colors.indexed_colors]]
color = "0xd19a66"
index = 16

[[colors.indexed_colors]]
color = "0xf65866"
index = 17

[colors.bright]
black = "0x798294"
blue = "0x61afef"
cyan = "0x56b6c2"
green = "0x98c379"
magenta = "0xc678dd"
red = "0xe86671"
white = "0xabb2bf"
yellow = "0xe5c07b"

[colors.normal]
black = "0x20232A"
blue = "0x61afef"
cyan = "0x56b6c2"
green = "0x98c379"
magenta = "0xc678dd"
red = "0xe86671"
white = "0xabb2bf"
yellow = "0xe5c07b"

[colors.primary]
background = "0x282c34"
foreground = "0xabb2bf"

[colors.selection]
background = "0x393f4a"
text = "CellForeground"

[env]
TERM = "xterm-256color"
WINIT_X11_SCALE_FACTOR = "1.0"

[font]
{{- if eq .chezmoi.os "linux" }}
size = 10.5
{{- else if eq .chezmoi.os "darwin" }}
size = 13
{{- end }}

[font.bold]
family = "MesloLGS NF"
style = "Bold"

[font.bold_italic]
family = "MesloLGS NF"
style = "Bold Italic"

[font.italic]
family = "MesloLGS NF"
style = "Italic"

[font.normal]
family = "MesloLGS NF"
style = "Regular"

[terminal.shell]
args = ["-l", "-c", "tmux"]
program = "/bin/zsh"

[window]
opacity = 0.9
{{- if eq .chezmoi.os "linux" }}
decorations = "none"
{{- else if eq .chezmoi.os "darwin" }}
decorations = "Buttonless"
blur = true
# To use Option as standard macOS word modifier/navigator
option_as_alt = "OnlyLeft"
{{- end }}

[window.padding]
x = 12
y = 12

[keyboard]
bindings = [
{{- if eq .chezmoi.os "darwin" }}
  # To use Option as standard macOS word modifier/navigator
  { key = "Right", mods = "Alt", chars = "\u001b[1;5C" },
  { key = "Left",  mods = "Alt", chars = "\u001b[1;5D" },
  { key = "Delete", mods = "Alt", chars = "\u001Bd" },
  { key = "Backspace", mods = "Alt", chars = "\u0017" },
{{- end }}
{{- if eq .chezmoi.os "linux" }}
  # To support word deletion in Neovim command prompt
  { key = "Backspace", mods = "Control", chars = "\u0017" }
{{- end }}
]
