{{ if eq .chezmoi.os "linux" -}}
if [[ "$(tty)" = "/dev/tty1" ]]; then
  pgrep bspwm || startx
fi
{{- else if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
# Homebrew: Python
export PATH="/opt/homebrew/opt/python/libexec/bin:$PATH"
{{- end }}
