# zsh settings -------------------------------------------------------
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word
bindkey '^H' backward-kill-word
bindkey '^[[3;5~' kill-word
bindkey '^[[3~' delete-char 

setopt INC_APPEND_HISTORY
setopt HIST_IGNORE_DUPS
setopt HIST_SAVE_NO_DUPS

export WORDCHARS='-'
export SAVEHIST=1000  # Save most-recent 1000 lines
export HISTSIZE=1000
export HISTFILE=~/.zsh_history

# environment variables -------------------------------------------------------
# additional path for finding python packages
# append to end to avoid taking precedence of pip under python venv
export PATH="$PATH:$HOME/.local/bin"
# Java path for vim plugins
export JAVA_HOME=/usr/lib/jvm/default
# use neovim everywhere
export SUDO_EDITOR=nvim
export EDITOR=nvim
export GIT_EDITOR=nvim
export VISUAL=nvim
export DIFFPROG="nvim -d"
export MANPAGER='nvim +Man!'
# set ls command output colors using vivid
export LS_COLORS="$(vivid generate one-dark)"
# suggest command using history, otherwise tab completion item
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# aliases -------------------------------------------------------
alias update-all='yay && printf "\nFlatpak: " && flatpak update'
alias ls='ls --color=auto'

# pyenv config -------------------------------------------------------
export PYENV_ROOT="$HOME/.pyenv"
[[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

# plugins -------------------------------------------------------
{{- if eq .chezmoi.os "linux" }}
source /usr/share/zsh/share/antigen.zsh
{{- else if eq .chezmoi.os "darwin" }}
source $HOMEBREW_PREFIX/share/antigen/antigen.zsh
{{- end }}

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

#source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
antigen theme romkatv/powerlevel10k
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-history-substring-search
antigen bundle zsh-users/zsh-completions
antigen apply

bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
